# Node.js dependencies
node_modules/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Log files
*.log

# Build output
dist/
build/

# Compiled files
*.class

*.map

# Firebase configuration files
firebase.json
firestore.rules
firestore.indexes.json
storage.rules
