<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>training</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a class="clickable-span" onclick="window.location.href='index.html'" class="logo"><img src="drdo_logo.png" alt="Logo"></a>
        </div>
        <div class="navbar-right">
            <a href="#about">About</a>
            <a href="#photos">Photos</a>
            <a href="#contact">Contact Us</a>
        </div>
    </nav>
    <h1 class="heading">Welcome <%= first_name %> <%= last_name %><br>TRAINING ASSIGNMENT</h1>

    <h3 class="sub_heading">(BY:CBRN)</h3>
    <nav>
    <span class="clickable-span" id="about" onclick="window.location.href='create-test'">Create Test</span>
    <span class="clickable-span" onclick="window.location.href='data.html'">Training result</span>

    <span>
    <div class="dropdown">
        <span class="dropdown-toggle">Sessions</span>
        <div class="dropdown-menu">
            <a  class="clickable-span" onclick="window.location.href='test-submissions'">Test</a>
            <a class="clickable-span" onclick="window.location.href='upcoming-tests'">New</a>
            <a href="#previous">Previous</a>
        </div></span>
</nav>
<div id="about"class="intro"><p class="intro_p">Here’s a doubled version of the paragraph:

    ---
    
    Welcome to our testing platform, designed to help you discover the most suitable training programs to enhance your skills and capabilities. We believe that personal growth not only transforms individuals but also elevates our society as a whole. By identifying the right training tailored to your needs, you can achieve your full potential and contribute positively to your community. Join us in our mission to foster a culture of continuous improvement and societal betterment, where each individual's progress leads to collective advancement.
    
    Our aim is to empower you with the insights needed to choose the most impactful training, ensuring that your efforts translate into meaningful progress for both yourself and those around you. We are committed to supporting you in making informed decisions that will not only advance your career but also drive positive change in your community. Through this personalized approach, we hope to inspire a cycle of growth and improvement that benefits everyone, reinforcing our belief that by bettering ourselves, we can create a better society for all.
    
    ---</p></div>

    <div class="photo_div" id="photos">
         <div class="card1" ><img class="image-wrapper" src="https://images.indianexpress.com/2024/05/drdo-smart-system.jpg" alt="image2"></div>
         <div class="card2 "><img class="image-wrapper"src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/DrdoNetra.jpg/1200px-DrdoNetra.jpg" alt="" srcset=""></div>
         <div class="card3"><img class="image-wrapper" src="https://bsmedia.business-standard.com/_media/bs/img/article/2023-03/27/full/1679934330-4153.jpg" alt="" srcset=""></div>
         <div class="card4"><img class="image-wrapper" src="https://www.financialexpress.com/wp-content/uploads/2024/07/DRDO-boosts-defence-capabilities.png" alt="" srcset=""></div>
    </div>

    <div class="footer" id="contact">
        <div class="subscribeNewslettersBlock"></div>
        <div class="connectUs">
            <h2>Connect with us</h2>
            <ul class="socialLinks">
                <li><a href="https://www.facebook.com/DPIDRDO/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/DRDO_India" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://instagram.com/dpi.drdo" target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="impoLinks">
            <h2>Related Links</h2>
            <ul class="footerMenuLinks">
                <li><a href="/drdo/e-journals/e-journal-services">e-Journals</a></li>
                <li><a href="https://tdf.drdo.gov.in/" target="_blank">TDF</a></li>
                <li><a href="http://www.ada.gov.in" target="_blank">ADA</a></li>
                <li><a href="https://diat.ac.in/" target="_blank">DIAT</a></li>
                <li><a href="http://cgda.nic.in/" target="_blank">CGDA</a></li>
                <li><a href="https://www.idst.co" target="_blank">IDST</a></li>
                <li><a href="/drdo/subordinate-legislation">Subordinate Legislation</a></li>
                <li><a href="https://drdo.gov.in/drdo/important-links">View All</a></li>
            </ul>
        </div>
    </div>
    
</body>
</html>