<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRDO Training</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->
    <div class="hamburger">
        <div></div>
        <div></div>
        <div></div>
      </div>
      
    <nav class="main-nav">
        <div class="nav-left">
            <img src="https://www.prachiindia.com/img/client/inmas.png" alt="Logo" class="logo">
        </div>
        <div class="nav-center">
            <% if (isAdmin) { %>
                <span class="clickable-span" id="create-test" onmouseover="changeToCreateTest()" onclick="window.location.href='create-test'">Create Test</span>
                <span class="clickable-span" id="assign-test" onmouseover="changeToAssignTest()" onclick="window.location.href='assign-test'">Assign Test</span>

                <% } else { %>
                <span class="clickable-span" id="assign-test" onmouseover="changeToAssignTest()" onclick="window.location.href='user-allot'">Assign Test</span>
                <span class="clickable-span" id="score-test" onmouseover="changeToscoreTest()" onclick="window.location.href='rank'">Test Ranks</span>

                
            <% } %>
            <span class="clickable-span" id="test-submissions" onmouseover="changeToTestResult()" onclick="window.location.href='score'">Test Result</span>
            <div class="dropdown">
                <span class="dropdown-toggle">Sessions</span>
                <div class="dropdown-menu">
                    <a class="clickable-span" onclick="window.location.href='upcoming-tests'">Upcoming</a>
                    <a class="clickable-span" onclick="window.location.href='previous-tests'">Previous</a>
                </div>
            </div> 
            
        </div>
        <div class="nav-right">
           
            <%= email %> <a href="/" class="logout-button">Log Out</a>
           
        </div>
    </nav>

    <!-- Header Section -->
    <header class="hero">
        <h1 class="heading">
            <% if (isAdmin) { %>
                Welcome Admin<br>TRAINING ASSIGNMENT
            <% } %>
            <% if (!isAdmin) { %>
                Welcome <%= first_name %> <%= last_name %><br>TRAINING ASSIGNMENT
            <% } %>
        </h1>
        <h3 class="sub_heading">(BY: CBRN)</h3>
    </header>

    <script src="/js/script.js"></script>
</body>
</html>
