<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previous Tests</title>
    <link rel="stylesheet" href="/css/upcoming.css">
</head>
<body>
    <div class="container">
        <h1 class="heading">Previous Tests</h1>
        <h2 class="sub_heading">Review your past assessments</h2>

        <table>
            <thead>
                <tr>
                    <th>Test Name</th>
                    <th>Sub-Topic</th>
                    <th>Time</th>
                </tr>
            </thead>

            <tbody>
                <% tests.forEach(test => { %>
                    <tr onclick="window.location.href='/test-details/<%= test.id %>'">
                        <td><%= test.test_topic %></td>
                        <td><%= test.test_sub_topic %></td>
                        <td><%= test.test_time %> minutes</td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>
