<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Need Analysis</title>
    <link rel="stylesheet" href="/css/test.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background-container">
        <div class="content-container">
            <!-- Left Section -->
            <section class="left-section">
                <div class="intro-text">
                    <img src="https://pbs.twimg.com/media/GMBny-8acAEGwdf?format=jpg&name=large" alt="DRDO Training" class="drdo-image">

                    <p class="intro_p">
                        Welcome to our testing platform, designed to help you discover the most suitable training programs to enhance your skills and capabilities. We believe that personal growth not only transforms individuals but also elevates our society as a whole.
                    </p>
                </div>
            </section>

            <!-- Right Section -->
            <section class="right-section">
                <div class="main-container">
                    <h1 class="main_heading">TRAINING NEED ANALYSIS</h1>
                    <div class="role-selection">
                        <button id="user-selection" class="btn">USER</button>
                        <button id="admin-selection" class="btn">ADMIN</button>
                    </div>
                    <div class="options" style="display: none;">
                        <button id="create-account" class="btn">Create Account</button>
                        <button id="existing-user" class="btn">Existing User</button>
                    </div>
                    <div id="form-container" class="form-container"></div>
                </div>
            </section>
        </div>
    </div>

    <script src="/js/test.js"></script>
</body>
</html>
