<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Submissions</title>
    <link rel="stylesheet" href="/css/upcoming.css">
</head>
<body>
    
    <div class="top-buttons">
        <a href="/home" class="button">Home</a>
        
    </div>

    <div class="container">
        <h1 class="heading">Test Submissions</h1>
        <h2 class="sub_heading">Review the submitted tests</h2>

        <table>
            <thead>
                <tr>
                    
                    <th>Email</th>
                    <th>Submission Time</th>
                    <th>View Details</th>
                </tr>
            </thead>
            <tbody>
                <% submissions.forEach(submission => { %>
                    <tr onclick="window.location.href='/submission-details/<%= submission.id %>'">
                       
                        <td><%= submission.email %></td>
                        <td><%= new Date(submission.submittedAt.toDate()).toLocaleString() %></td>
                        <td><a href="/submission-details/<%= submission.id %>">View</a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

   
</body>
</html>
