body {
    cursor: pointer;
    background-color: cornflowerblue;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 12px #0003;
    width: 100%;
    max-width: 76rem;
    border-radius: 1.6rem;
}

.navbar-left .clickable-span img {
    height: 40px;
}

.navbar-right {
    display: flex;
    gap: 20px;
}

.navbar-right a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-right a:hover {
    text-decoration: underline;
}

.heading {
    font-family: system-ui, sans-serif;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 0;
}

.sub_heading {
    font-family: system-ui, sans-serif;
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 6rem;
}

.test-details {
    margin: 3rem auto;
    max-width: 60rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1.6rem;
    box-shadow: 0 0 12px #0003;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 1.2rem;
}

h2, h3 {
    margin-bottom: 1.5rem;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.footer h2 {
    margin-top: 0;
    font-size: 1.5rem;
}

.footerMenuLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.footerMenuLinks li a {
    color: #fff;
    text-decoration: none;
}

.footerMenuLinks li a:hover {
    text-decoration: underline;
}
