/* General Styles */
:root {
  --primary-color: #3498db; /* Example primary color */
  --secondary-color: #2ecc71; /* Example secondary color */
  --accent-color: #e74c3c; /* Example accent color */
  --text-color: #333; /* Example text color */
}

/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  background: linear-gradient(135deg, var(--primary-color), #003366);
  color: #fff;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}

/* Headings */
.heading {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.sub_heading {
  font-size: 1.5rem;
  opacity: 0.8;
}

/* Navbar */
.main-nav {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px; /* Updated gap */
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  cursor: pointer;
}

/* Logo and Logout */
.nav-left {
  display: flex;
  align-items: center;
}

.nav-left img {
  height: 40px;
  margin-right: 1rem;
}

.nav-center {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right a {
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem; /* Add some border-radius */
}

.nav-right a:hover {
  color: #fff; /* Change text color on hover */
  background-color: var(--primary-color); /* Change background color on hover */
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
  color: var(--primary-color);
  font-weight: 500;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  top: 100%;
  right: 0;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-menu a {
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: var(--secondary-color);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-right {
    margin-top: 1rem;
  }
}
